.body2 {
    margin: 0;
    padding: 0;
    background-color: #EDECEA;
    background-image: none;
    height: 100%;
  }
  
  img {
    width: 48vh;
  }
  
  .contenedor {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .letra {
    font-size: 4rem;
    color: $color-caja;
  }
  
  .letra1 {
    font-size: 1.5rem;
    color: $color-caja;
  }
  
  .boton {
    width: 167px;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 20px;
    border: solid;
    background: $color-background;
    background: $color-background-gradient;
    transition: all 1s;
  
    a {
      text-decoration: none;
      color: $color-letra;
      font-weight: 600;
    }
  
    &:hover {
      width: 200px;
    }
  }